.weather-card {
  background: linear-gradient(#accbfa, #96b7ed);
  border-radius: 10px;
  width: 300px;
}

.place {
  display: flex;
  align-items: center;
}

.country-flag {
  margin-top: -10px;
  margin-left: 10px;
}
