.weather-card {
  background: linear-gradient(#accbfa, #96b7ed);
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.place {
  display: flex;
  align-items: center;
}

.country-flag {
  margin-top: -10px;
  margin-left: 10px;
}

.weather-icon {
  margin-left: 10px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text {
  display: flex;
  flex-direction: column;
}

.place {
  margin-top: -10px;
}

h1 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

.card-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 80%;
}

.single-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.card-body {
  display: flex;
  justify-content: center;
}
